<md-content class="white-bg" ms-scroll>
  <md-list class="pv-0" flex>
    <md-subheader class="md-no-sticky">Recent Reviews (Last 7 Days)</md-subheader>

    <div ng-if="!vm.reviews.length">
      <md-divider></md-divider>
      <md-list-item>
        <div class="md-list-item-text">
          <p>There are no recent reviews.</p>
        </div>
      </md-list-item>
    </div>

    <div ng-repeat="review in vm.reviews | orderBy:['-created'] track by review._id">
      <md-divider></md-divider>
      <md-list-item class="md-3-line ph-0" ng-click="vm.goTo(review)" md-no-ink>
        <img ng-src="{{review.authorImageUrl}}" alt="{{review.authorName}}" class="md-avatar">
        <div class="md-list-item-text mt-16" layout="column">
          <p>{{review.courseTitle}}</p>
          <h4>{{review.text.substring(0, 100)}}</h4>
          <p am-time-ago="review.created"></p>
        </div>
      </md-list-item>
    </div>
  </md-list>
</md-content>
