{
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true,
  },
  "rules": {
    "strict": 0,
    "max-len": ["error", 80],
    "func-names": ["error", "as-needed"],
    "arrow-parens": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "never"
    }],
    "import/no-extraneous-dependencies": 0,
    "newline-per-chained-call": 0,
    "comma-dangle": ["error", "never"]
  },
  "extends": "airbnb"
}
