<md-card>
    <md-card-content>
        <md-data-table-container>
            <table md-data-table class="md-primary md-data-table" md-progress>
                <thead md-head>
                    <tr>
                        <th md-column-header class="col-1 hide-xs" ng-click="vm.toggleSort('department')">
                            {{ 'TABLE.HEADER.DEPARTMENT' | translate }}
                            <md-icon ng-if="vm.sortType === 'department' &&  vm.sortReverse" md-font-icon="zmdi zmdi-caret-down"></md-icon>
                            <md-icon ng-if="vm.sortType === 'department' && !vm.sortReverse" md-font-icon="zmdi zmdi-caret-up"></md-icon>
                        </th>
                        <th md-column-header class="col-1" ng-click="vm.toggleSort('number')">
                            {{ 'TABLE.HEADER.NUMBER' | translate }}
                            <md-icon ng-if="vm.sortType === 'number' &&  vm.sortReverse" md-font-icon="zmdi zmdi-caret-down"></md-icon>
                            <md-icon ng-if="vm.sortType === 'number' && !vm.sortReverse" md-font-icon="zmdi zmdi-caret-up"></md-icon>
                        </th>
                        <th md-column-header class="col-5" ng-click="vm.toggleSort('name')">
                            {{ 'TABLE.HEADER.NAME' | translate }}
                            <md-icon ng-if="vm.sortType === 'name' &&  vm.sortReverse" md-font-icon="zmdi zmdi-caret-down"></md-icon>
                            <md-icon ng-if="vm.sortType === 'name' && !vm.sortReverse" md-font-icon="zmdi zmdi-caret-up"></md-icon>
                        </th>
                        <th md-column-header class="col-1 text-center hide-xs" ng-click="vm.toggleSort('reviewCount')">
                            {{ 'TABLE.HEADER.NUM_REVIEWS' | translate }}
                            <md-icon ng-if="vm.sortType === 'reviewCount' &&  vm.sortReverse" md-font-icon="zmdi zmdi-caret-down"></md-icon>
                            <md-icon ng-if="vm.sortType === 'reviewCount' && !vm.sortReverse" md-font-icon="zmdi zmdi-caret-up"></md-icon>
                        </th>
                        <th md-column-header class="col-1 text-center" ng-click="vm.toggleSort('averageDifficulty')">
                            {{ 'TABLE.HEADER.AVG_DIFFICULTY' | translate }}
                            <md-icon ng-if="vm.sortType === 'averageDifficulty' &&  vm.sortReverse" md-font-icon="zmdi zmdi-caret-down"></md-icon>
                            <md-icon ng-if="vm.sortType === 'averageDifficulty' && !vm.sortReverse" md-font-icon="zmdi zmdi-caret-up"></md-icon>
                        </th>
                        <th md-column-header class="col-1 text-center" ng-click="vm.toggleSort('averageWorkload')">
                            {{ 'TABLE.HEADER.AVG_WORKLOAD' | translate }}
                            <md-icon ng-if="vm.sortType === 'averageWorkload' &&  vm.sortReverse" md-font-icon="zmdi zmdi-caret-down"></md-icon>
                            <md-icon ng-if="vm.sortType === 'averageWorkload' && !vm.sortReverse" md-font-icon="zmdi zmdi-caret-up"></md-icon>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr ng-repeat="course in vm.courses | orderBy:vm.sortType:vm.sortReverse" ng-click="vm.goTo(course)">
                        <td class="col-1 hide-xs">
                            {{ ::course.department }}
                        </td>
                        <td class="col-1">
                            {{ ::course.number }}
                        </td>
                        <td class="col-5">
                            {{ ::course.name }}&nbsp;
                            <md-icon ng-if="::course.foundational" md-font-icon="zmdi zmdi-flag">
                                <md-tooltip md-direction="right">
                                    <span translate>COURSE.FOUNDATIONAL</span>
                                </md-tooltip>
                            </md-icon>
                        </td>
                        <td class="col-1 text-center hide-xs">
                            {{ course.reviewCount }}
                        </td>
                        <td class="col-1 text-center">
                            <progress-bar value="course.averageDifficulty" max="5"></progress-bar>
                        </td>
                        <td class="col-1 text-center">
                            <span ng-if="course.averageWorkload">{{ course.averageWorkload }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
    </md-card-content>
</md-card>
