<div class="reviews-container padding-20" layout="column">
    <div layout-gt-sm="row" layout="column" layout-margin ng-if="vm.course.reviewCount > 0">
        <tri-widget palette-background="indigo:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-comments"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="vm.course.reviewCount" decimals="0">0</p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>WIDGETS.REVIEWS</p>
            </div>
        </tri-widget>
        <tri-widget palette-background="deep-orange:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-briefcase"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.course.averageDifficulty" decimals="1">0</p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>WIDGETS.AVERAGE_DIFFICULTY</p>
            </div>
        </tri-widget>
        <tri-widget palette-background="teal:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-code-fork"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.course.averageWorkload" decimals="1">0</p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>WIDGETS.AVERAGE_WORKLOAD</p>
            </div>
        </tri-widget>
    </div>
    <div layout="column">
        <review-list model="vm.reviews" hide-course-title="true"></review-list>
    </div>
</div>
