@import '../../../../bower_components/angular-material/angular-material.scss';
@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/angular-material-extend';
@import 'partials/layouts-template';
@import 'partials/layouts-page';
@import 'partials/animations';
@import 'partials/colors';
@import 'partials/icons';
@import 'partials/material';
@import 'partials/typography';
@import 'partials/plugins/nvd3';
@import 'partials/plugins/perfect-scrollbar';
@import 'partials/helpers';
