{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true
  },
  "rules": {
    "indent": [
      2,
      4, {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "angular/no-service-method": 0,
    "angular/on-watch": 0,
    "no-console": 0,
    "angular/log": 0
  },
  "globals": {
    "angular": true,
    "module": true,
    "moment": true,
    "CountUp": true,
    "jQuery": true,
    "_": true,
    "Firebase": true,
    "inject": true,
    "angularDragula": true
  }
}
