<form name="vm.fa" novalidate flex-gt-sm="50">
  <md-input-container class="md-block">
    <label>Email</label>
    <input type="email" name="email" ng-model="vm.temp.email" readonly disabled>
    <div class="md-errors-spacer"></div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Name</label>
    <input type="text" name="name" ng-model="vm.temp.name" required>
    <div ng-messages="vm.fa.name.$error" role="alert">
      <div ng-message="required">Name is required.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Specialization</label>
    <md-select name="specialization" ng-model="vm.temp.specialization">
      <md-option ng-value="::v" ng-repeat="v in [0,1,2,3]">
        {{::v | gtSpecialization}}
      </md-option>
    </md-select>
    <div class="md-errors-spacer"></div>
  </md-input-container>

  <md-input-container class="md-block">
    <md-switch ng-model="vm.temp.anonymous" aria-label="Remain anonymous?" class="md-primary mt-0">
      Remain anonymous?
    </md-switch>
  </md-input-container>

  <md-button
      type="submit"
      class="md-raised md-primary ml-0"
      ng-click="vm.updateAbout()"
      ng-disabled="vm.fa.$invalid || vm.fa.$pristine || vm.working"
      aria-label="UPDATE">
    UPDATE
  </md-button>
</form>
