<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="40" flex-lg="50" flex-md="70" flex-xs="100">
        <md-card>
            <md-toolbar class="padding-20">
                <div layout="row" layout-align="center center">
                    <h1 class="md-headline" translate>LOGIN.TITLE</h1>
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <form name="loginForm">

                    <!-- EMAIL -->
                    <md-input-container class="md-block">
                        <label translate>LOGIN.EMAIL.LABEL</label>
                        <input name="email" type="email" ng-model="vm.user.email" ng-pattern="/^.+@gatech\.edu$/" required />
                        <div ng-messages="loginForm.email.$error">
                            <div ng-message when="required"><span translate>LOGIN.EMAIL.PLEASE_ENTER</span></div>
                            <div ng-message when="email"><span translate>LOGIN.EMAIL.PLEASE_VALID</span></div>
                            <div ng-message when="pattern"><span translate>LOGIN.EMAIL.PLEASE_GATECH</span></div>
                        </div>
                    </md-input-container>

                    <!-- PASSWORD -->
                    <md-input-container class="md-block">
                        <label translate>LOGIN.PASSWORD.LABEL</label>
                        <input name="password" type="password" ng-model="vm.user.password" required />
                        <div ng-messages for="loginForm.password.$error">
                            <div ng-message when="required"><span translate>LOGIN.PASSWORD.PLEASE_ENTER</span></div>
                        </div>
                    </md-input-container>

                    <!-- REMEMBER ME & FORGOT -->
                    <div layout="row" layout-align="space-between center">
                        <md-input-container>
                            <md-checkbox ng-model="vm.user.rememberMe">
                                <span translate>LOGIN.REMEMBER</span>
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-primary" href="#/forgot" translate="LOGIN.FORGOT" aria-label="{{ 'LOGIN.FORGOT' | translate }}"></md-button>
                        </md-input-container>
                    </div>

                    <!-- LOGIN -->
                    <md-button class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10 md-raised"
                        type="submit"
                        ng-click="vm.loginClick('password')"
                        ng-disabled="loginForm.$invalid || vm.working"
                        translate="{{ vm.working ? 'LOGIN.BUTTONING' : 'LOGIN.BUTTON' }}"
                        aria-label="{{ 'LOGIN.BUTTON' | translate }}">
                    </md-button>

                    <!-- SIGN UP -->
                    <md-button class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10"
                        href="#/signup"
                        translate="LOGIN.SIGNUP_LINK"
                        aria-label="{{ 'LOGIN.SIGNUP_LINK' | translate }}">
                    </md-button>

                    <!-- SOCIAL LOGINS -->
                    <div class="social-login">
                        <md-divider></md-divider>
                        <div class="text-center margin-20" translate>LOGIN.SOCIAL.OR</div>
                        <div layout="row" layout-align="space-between center" layout-margin>
                            <md-button class="md-icon-button"
                                ng-repeat="social in ::vm.socialLogins"
                                ng-click="vm.loginClick(social.provider)"
                                ng-style="{ 'background-color': social.color }"
                                aria-label="{{ social.icon }}">
                                <md-icon md-font-icon="{{ ::social.icon }}"></md-icon>
                            </md-button>
                        </div>
                    </div>

                </form>
            </md-content>
        </md-card>
    </div>
</div>
