
.login-frame {
  md-card {
    max-width: 400px;
    margin: auto;
  }
  md-checkbox {
    margin: 0;
  }
  img {
    max-height: 100px;
    width: auto;
  }
  md-toolbar {
    .md-headline {
      margin: 0;
    }
  }
}
