/*----------------------------------------------------------------*/


/*  ms-responsive-table
/*----------------------------------------------------------------*/

.ms-responsive-table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
