<div id="set-password" class="flex-scrollable" layout="column" ms-scroll gt-season-bg>
  <div id="set-password-form-wrapper" layout="column" layout-align="center center">
    <div id="set-password-form" class="md-whiteframe-8dp">
      <div class="logo md-accent-bg">
        <span>GT</span>
      </div>

      <div class="title">Set Password</div>

      <form name="vm.f" novalidate>
        <md-input-container class="md-block" md-no-float>
          <input type="password" name="password" placeholder="New Password" required
              ng-model="vm.user.password"
              ng-minlength="8"
              ng-disabled="vm.working || !vm.user.email">
          <div ng-messages="vm.f.password.$error" role="alert" multiple>
            <div ng-message="required">This is required.</div>
            <div ng-message="minlength">This is not long enough.</div>
          </div>
        </md-input-container>

        <md-button
            type="submit"
            class="md-raised md-accent submit-button"
            ng-click="vm.setPassword(vm.user)"
            ng-disabled="vm.f.$invalid || vm.f.$pristine || vm.working || !vm.user.email"
            aria-label="Save">
          SAVE
        </md-button>

        <md-progress-linear class="md-accent" md-mode="indeterminate" ng-if="vm.working"></md-progress-linear>
      </form>
    </div>
  </div>
</div>
