<div id="set-password" class="flex-scrollable" layout="column" ms-scroll gt-season-bg>
  <div id="set-password-form-wrapper" layout="column" layout-align="center center">
    <div id="set-password-form" class="md-whiteframe-8dp">
      <div class="logo md-accent-bg">
        <span>GT</span>
      </div>

      <div class="title" translate="SETPASSWORD.TITLE"></div>

      <form name="f" novalidate>
        <md-input-container class="md-block" md-no-float>
          <input type="password" name="password" ng-model="vm.user.password" required
              aria-label="New Password"
              ng-minlength="8"
              ng-disabled="!vm.user.email"
              translate
              translate-attr-aria-label="SETPASSWORD.NEW_PASSWORD"
              translate-attr-placeholder="SETPASSWORD.NEW_PASSWORD">
          <div ng-messages="f.password.$error" role="alert" multiple>
            <div ng-message="required"><span translate="CORE.ERRORS.REQUIRED"></span></div>
            <div ng-message="minlength"><span translate="CORE.ERRORS.MINLENGTH"></span></div>
          </div>
        </md-input-container><div class="cf"></div>

        <md-button
            type="submit"
            class="md-raised md-accent submit-button"
            ng-click="vm.setPassword(vm.user)"
            ng-disabled="f.$invalid || f.$pristine || vm.working || !vm.user.email"
            aria-label="Save"
            translate="CORE.SAVE"
            translate-attr-aria-label="CORE.SAVE">
        </md-button>

        <md-progress-linear class="md-accent" md-mode="indeterminate" ng-if="vm.working"></md-progress-linear>
      </form>
    </div>
  </div>
</div>
