<div id="register" layout="row" layout-align="start" gt-season-bg>
  <div id="register-intro" flex hide show-gt-sm>
    <div class="logo md-accent-bg">
      <span>GT</span>
    </div>
    <div class="title">Course Surveys</div>
    <div class="description">For OMSCS students by OMSCS students.</div>
  </div>

  <div id="register-form-wrapper" class="flex-scrollable md-whiteframe-8dp" layout="column" flex ms-scroll>
    <div id="register-form">
      <div class="logo md-accent-bg" hide-gt-sm>
        <span>GT</span>
      </div>

      <div class="title">Register</div>
      <div class="description">Share your experience with your classmates.</div>

      <form name="vm.f" novalidate>
        <md-input-container class="md-block" md-no-float>
          <label>Name</label>
          <input name="name" ng-model="vm.user.name" ng-disabled="vm.working" required>
          <div ng-messages="vm.f.name.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
          <label>Email</label>
          <input type="email" name="email" ng-model="vm.user.email" ng-disabled="vm.working" required>
          <div ng-messages="vm.f.email.$error" role="alert" multiple>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-button
            type="submit"
            class="md-raised md-accent submit-button"
            ng-click="vm.register(vm.user)"
            ng-disabled="vm.f.$invalid || vm.f.$pristine || vm.working"
            aria-label="Create My Account">
          CREATE MY ACCOUNT
        </md-button>
      </form>

      <div class="login" layout="row" layout-sm="column" layout-align="center center">
        <span class="text">Already have an account?</span>
        <a class="link" ui-sref="app.main_pages_auth_login({ e: vm.user.email })">Login</a>
      </div>
    </div>
  </div>
</div>
