{
  "plugins": [
    "babel"
  ],
  "rules": {
    "strict": 0,
    "generator-star-spacing": 0,
    "comma-dangle": 0,
    "arrow-body-style": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "max-len": ["error", 80],
    "no-plusplus": 0,
    "import/no-dynamic-require": 0,
    "func-names": ["error", "as-needed"],
    "arrow-parens": ["error", "always"],
    "import/no-extraneous-dependencies": 0,
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "never"
    }]
  },
  "globals": {
    "before": true,
    "after": true
  },
  "extends": "airbnb"
}
