<md-dialog class="gt-review-dialog" aria-label="REVIEW" flex-gt-sm="60" flex="90">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-title" ng-if="vm.editing">Edit Review</h2>
      <h2 class="md-title" ng-if="!vm.editing">Publish Review</h2>
    </div>
  </md-toolbar>

  <md-divider></md-divider>

  <md-dialog-content class="md-dialog-content">
    <form name="vm.f" novalidate layout="column">

      <!-- COURSE -->
      <md-input-container class="md-block">
        <label>Course</label>
        <md-select name="course" ng-model="vm.review.course" ng-disabled="true" required>
          <md-option ng-value="::c._id" ng-repeat="c in ::vm.courses track by c._id">
            {{::c.title}}
          </md-option>
        </md-select>
        <div class="md-errors-spacer"></div>
        <div class="hint">For which course?</div>
      </md-input-container>
      <!-- / COURSE -->

      <!-- SEMESTER & DIFFICULTY -->
      <div layout="row">
        <md-input-container flex>
          <label>Semester</label>
          <md-select name="semester" ng-model="vm.review.semester" required>
            <md-option ng-value="::s._id" ng-repeat="s in ::vm.semesters | orderBy:id:true track by s._id">
              {{::s.name}}
            </md-option>
          </md-select>
          <div class="md-errors-spacer"></div>
          <div class="hint">When was the course taken?</div>
        </md-input-container>
        <md-input-container flex>
          <label>Difficulty</label>
          <md-select name="difficulty" ng-model="vm.review.difficulty" required>
            <md-option ng-value="::d" ng-repeat="d in ::vm.difficulties track by $index">
              {{::d | gtDifficulty}}
            </md-option>
          </md-select>
          <div class="md-errors-spacer"></div>
          <div class="hint">How difficult was it?</div>
        </md-input-container>
      </div>
      <!-- SEMESTER & DIFFICULTY -->

      <!-- WORKLOAD & RATING -->
      <div layout="row">
        <md-input-container flex>
          <label>Workload</label>
          <input name="workload" type="number" ng-model="vm.review.workload" ng-min="1" required md-select-on-focus>
          <div class="hint">How much time did it take per week?</div>
        </md-input-container>
        <md-input-container flex>
          <label>Rating</label>
          <md-select name="rating" ng-model="vm.review.rating" required>
            <md-option ng-value="::r" ng-repeat="r in ::vm.ratings track by $index">
              {{::r | gtRating}}
            </md-option>
          </md-select>
          <div class="md-errors-spacer"></div>
          <div class="hint">What was your overall impression?</div>
        </md-input-container>
      </div>
      <!-- / WORKLOAD & RATING -->

      <!-- TEXT -->
      <md-input-container class="md-block">
        <label>Comments</label>
        <textarea name="text" md-maxlength="2000" ng-model="vm.review.text" required></textarea>
        <div ng-messages="vm.f.text.$error">
          <div ng-message="required">Comments are required.</div>
          <div ng-message="md-maxlength">Comments may be at most 2000 characters.</div>
        </div>
      </md-input-container>
      <!-- / TEXT -->

    </form>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="vm.cancel()" aria-label="Cancel">CANCEL</md-button>
    <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="vm.f.$invalid || vm.f.$pristine" aria-label="OK">OK</md-button>
  </md-dialog-actions>

</md-dialog>
