<form name="vm.fp" novalidate flex-gt-sm="50">
  <md-input-container class="md-block">
    <label>Current Password</label>
    <input type="password" name="passwordCurrent" ng-model="vm.temp.passwordCurrent" ng-minlength="8" required>
    <div ng-messages="vm.fp.passwordCurrent.$error" role="alert">
      <div ng-message="required">This is required.</div>
      <div ng-message="minlength">This is not long enough.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>New Password</label>
    <input type="password" name="passwordNew" ng-model="vm.temp.passwordNew" ng-minlength="8" required>
    <div ng-messages="vm.fp.passwordNew.$error" role="alert">
      <div ng-message="required">This is required.</div>
      <div ng-message="minlength">Password must contain at least 8 characters.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>New Password (Confirm)</label>
    <input type="password" name="passwordConfirm" ng-model="vm.temp.passwordConfirm" ng-minlength="8" required>
    <div ng-messages="vm.fp.passwordConfirm.$error" role="alert">
      <div ng-message="required">This is required.</div>
      <div ng-message="minlength">Password must contain at least 8 characters.</div>
    </div>
  </md-input-container>

  <md-button
      type="submit"
      class="md-raised md-primary ml-0"
      ng-click="vm.updatePassword()"
      ng-disabled="vm.fp.$invalid || vm.fp.$pristine || vm.working"
      aria-label="UPDATE">
    UPDATE
  </md-button>
</form>
