<form name="f" novalidate flex-gt-sm="50">
  <md-input-container class="md-block" md-no-float>
    <label translate="PROFILE.PASSWORD_CURRENT"></label>
    <input type="password" name="passwordCurrent" ng-model="vm.temp.passwordCurrent" ng-minlength="8" required>
    <div ng-messages="f.passwordCurrent.$error" role="alert">
      <div ng-message="required"><span translate="CORE.ERRORS.REQUIRED"></span></div>
      <div ng-message="minlength"><span translate="CORE.ERRORS.MINLENGTH"></span></div>
    </div>
  </md-input-container><div class="cf"></div>

  <md-input-container class="md-block" md-no-float>
    <label translate="PROFILE.PASSWORD_NEW"></label>
    <input type="password" name="passwordNew" ng-model="vm.temp.passwordNew" ng-minlength="8" required>
    <div ng-messages="f.passwordNew.$error" role="alert">
      <div ng-message="required"><span translate="CORE.ERRORS.REQUIRED"></span></div>
      <div ng-message="minlength"><span translate="CORE.ERRORS.MINLENGTH"></span></div>
    </div>
  </md-input-container><div class="cf"></div>

  <md-input-container class="md-block" md-no-float>
    <label translate="PROFILE.PASSWORD_NEW_CONFIRM"></label>
    <input type="password" name="passwordConfirm" ng-model="vm.temp.passwordConfirm" ng-minlength="8" required>
    <div ng-messages="f.passwordConfirm.$error" role="alert">
      <div ng-message="required"><span translate="CORE.ERRORS.REQUIRED"></span></div>
      <div ng-message="minlength"><span translate="CORE.ERRORS.MINLENGTH"></span></div>
    </div>
  </md-input-container>

  <md-button
      type="submit"
      class="md-raised md-primary ml-0 mt-10"
      ng-click="vm.updatePassword()"
      ng-disabled="f.$invalid || f.$pristine || vm.working"
      aria-label="Update"
      translate="CORE.UPDATE"
      translate-attr-aria-label="CORE.UPDATE">
  </md-button>
</form>
