/*----------------------------------------------------------------*/


/*  ms-scroll
/*----------------------------------------------------------------*/

.ms-scroll {
  overflow: hidden !important;
}
