<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll gt-season-bg>
  <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
    <div id="forgot-password-form" class="md-whiteframe-8dp">
      <div class="logo md-accent-bg">
        <span>GT</span>
      </div>

      <div class="title">Reset Password</div>

      <form name="vm.f" novalidate>
        <md-input-container class="md-block">
          <label>Email</label>
          <input type="email" name="email" ng-model="vm.user.email" ng-disabled="vm.working" required>
          <div ng-messages="vm.f.email.$error" role="alert" multiple>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-button
            type="submit"
            class="md-raised md-accent submit-button"
            ng-click="vm.sendResetLink(vm.user.email)"
            ng-disabled="vm.f.$invalid || vm.f.$pristine || vm.working"
            aria-label="Send Reset Link">
          SEND RESET LINK
        </md-button>
      </form>

      <div class="login" layout="row" layout-align="center center">
        <a class="link" ui-sref="app.main_pages_auth_login">Back to Login</a>
      </div>
    </div>
  </div>
</div>
