<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll gt-season-bg>
  <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
    <div id="forgot-password-form" class="md-whiteframe-8dp">
      <div class="logo md-accent-bg">
        <span>GT</span>
      </div>

      <div class="title" translate="FORGOTPASSWORD.TITLE"></div>

      <form name="f" novalidate>
        <md-input-container class="md-block" md-no-float>
          <label translate="FORGOTPASSWORD.EMAIL"></label>
          <input type="email" name="email" ng-model="vm.user.email" required>
          <div ng-messages="f.email.$error" role="alert" multiple>
            <div ng-message="required"><span translate="CORE.ERRORS.REQUIRED"></span></div>
          </div>
        </md-input-container><div class="cf"></div>

        <md-button
            type="submit"
            class="md-raised md-accent submit-button"
            ng-click="vm.sendResetLink(vm.user.email)"
            ng-disabled="f.$invalid || f.$pristine || vm.working"
            aria-label="Send Reset Link"
            translate="FORGOTPASSWORD.SEND_RESET_LINK"
            translate-attr-aria-label="FORGOTPASSWORD.SEND_RESET_LINK">
        </md-button>
      </form>

      <div class="login" layout="row" layout-align="center center">
        <a class="link" ui-sref="app.pages_auth_login" translate="FORGOTPASSWORD.BACK_TO_LOGIN"></a>
      </div>
    </div>
  </div>
</div>
