#forgot-password {
  height: 100%;
  #forgot-password-form-wrapper {
    flex: 1 0 auto;
    padding: 32px;
    #forgot-password-form {
      width: 384px;
      max-width: 384px;
      padding: 32px;
      text-align: center;
      background: #FFFFFF;
      .logo {
        width: 162px;
        height: 128px;
        line-height: 128px;
        font-size: 86px;
        font-weight: 500;
        margin: 32px auto;
        color: #FFFFFF;
        border-radius: 2px;
      }
      .title {
        font-size: 17px;
        margin: 16px 0 32px 0;
      }
      form {
        width: 100%;
        text-align: left;
        .submit-button {
          width: 220px;
          margin: 0 auto 16px auto;
          display: block;
        }
      }
      .login {
        margin: 32px auto 24px auto;
        width: 250px;
        font-weight: 500;
        .text {
          margin-right: 8px;
        }
        .link {}
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {
  #forgot-password {
    #forgot-password-form-wrapper {
      padding: 16px;
      #forgot-password-form {
        padding: 24px;
        width: 100%;
        form {
          .md-button {
            width: 90%;
          }
        }
      }
    }
  }
}
