<div id="login" layout="row" layout-align="start" gt-season-bg>
  <div id="login-intro" flex hide show-gt-sm>
    <div class="logo md-accent-bg">
      <span>GT</span>
    </div>
    <div class="title">Course Surveys</div>
    <div class="description">For OMSCS students by OMSCS students.</div>
  </div>

  <div id="login-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
    <div id="login-form">
      <div class="logo md-accent-bg" hide-gt-sm>
        <span>GT</span>
      </div>

      <div class="title">Login</div>
      <div class="description">Share your experience with your classmates.</div>

      <form name="vm.f" novalidate>
        <md-input-container class="md-block" md-no-float>
          <input type="email" name="email" ng-model="vm.user.email" ng-disabled="vm.working" placeholder="Email" required>
          <div ng-messages="vm.f.email.$error" role="alert" multiple>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
          <input type="password" name="password" ng-model="vm.user.password" ng-disabled="vm.working" placeholder="Password" required>
          <div ng-messages="vm.f.password.$error" role="alert">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <div class="remember-forgot-password" layout="row" layout-sm="column" layout-align="center center">
          <a ui-sref="app.main_pages_auth_forgot-password" class="forgot-password md-accent-color">Forgot password?</a>
        </div>

        <md-button
            type="submit"
            class="md-raised md-accent submit-button"
            ng-click="vm.loginWithEmail(vm.user)"
            ng-disabled="vm.f.$invalid || vm.f.$pristine || vm.working"
            aria-label="LOGIN">
          LOGIN
        </md-button>
      </form>

      <div class="separator">
        <span class="text">Or</span>
      </div>

      <div layout="row" layout-align="center space-between">
        <md-button class="md-icon-button" aria-label="LOGIN WITH {{::provider.name}}"
            ng-repeat="provider in ::vm.authProviders"
            ng-class="::provider.name"
            ng-click="vm.loginWithSocial(provider)">
          <md-icon md-font-icon="{{::provider.icon}}" class="s20"></md-icon>
        </md-button>
      </div>

      <div class="register" layout="row" layout-sm="column" layout-align="center center">
        <span class="text">Don't have an account?</span>
        <a class="link" ui-sref="app.main_pages_auth_register">Register</a>
      </div>
    </div>
  </div>
</div>
