<div class="page-layout simple fullwidth doc-page element-doc-page">
  <div class="content">
    <div class="white-bg md-whiteframe-4dp">
      <table class="simple clickable gt-grades" ms-responsive-table>
        <thead>
          <tr>
            <th ng-repeat="header in ::vm.headers track by header.key"
                ng-class="header.classes"
                ng-click="vm.sortOn(header)"
                ng-hide="header.mode && header.mode !== vm.mode">
              <span>{{header.title || header.text}}</span>
              <md-icon ng-show="vm.sortingOn(header) && vm.sortReverse === true" class="s16 mb-4" md-font-icon="icon-chevron-down"></md-icon>
              <md-icon ng-show="vm.sortingOn(header) && vm.sortReverse !== true" class="s16 mb-4" md-font-icon="icon-chevron-up"></md-icon>
            </th>
          </tr>
        </thead>

        <tfoot><tr><td></td></tr></tfoot>

        <tbody>
          <tr ng-repeat="course in vm.courses | orderBy:vm.sortKey:vm.sortReverse track by course._id"
              ng-click="vm.goTo(course)">
            <td>
              {{::course.department}}
            </td>

            <td>
              {{::course.number}}<span ng-if="::course.section">-{{::course.section}}</span>
            </td>

            <td class="text-truncate">
              <span>{{::course.name}}</span>
              <md-icon ng-if="::course.foundational" md-font-icon="icon-flag" class="s16 mb-4">
                <md-tooltip md-direction="right">Foundational</md-tooltip>
              </md-icon>
            </td>

            <td class="text-center" ng-show="vm.mode === '#'">
              <gt-progress-bar value="course['#a']" max="course['#t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '#'">
              <gt-progress-bar value="course['#b']" max="course['#t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '#'">
              <gt-progress-bar value="course['#c']" max="course['#t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '#'">
              <gt-progress-bar value="course['#d']" max="course['#t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '#'">
              <gt-progress-bar value="course['#w']" max="course['#t']"></gt-progress-bar>
            </td>

            <td class="text-center" ng-show="vm.mode === '%'">
              <gt-progress-bar value="course['%a']" max="course['%t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '%'">
              <gt-progress-bar value="course['%b']" max="course['%t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '%'">
              <gt-progress-bar value="course['%c']" max="course['%t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '%'">
              <gt-progress-bar value="course['%d']" max="course['%t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '%'">
              <gt-progress-bar value="course['%w']" max="course['%t']"></gt-progress-bar>
            </td>

            <td class="text-center" ng-show="vm.mode === '~'">
              <gt-progress-bar value="course['~a']" max="course['~t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '~'">
              <gt-progress-bar value="course['~b']" max="course['~t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '~'">
              <gt-progress-bar value="course['~c']" max="course['~t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '~'">
              <gt-progress-bar value="course['~d']" max="course['~t']"></gt-progress-bar>
            </td>
            <td class="text-center" ng-show="vm.mode === '~'">
              <!-- NOTHING WHEN EXCLUDING WITHDRAWALS -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <md-radio-group ng-model="vm.mode" class="mt-20 ml-10" layout="row" layout-xs="column" layout-sm="column">
      <md-radio-button value="%" aria-label="%">Percentages</md-radio-button>
      <md-radio-button value="~" aria-label="~">Percentages (No Withdrawals)</md-radio-button>
      <md-radio-button value="#" aria-label="#">Counts</md-radio-button>
    </md-radio-group>
  </div>
</div>
