gt-aggregation-card-list {
  ms-widget {
    padding: 0 8px 8px 8px !important;

    &:first-child {
      padding-left: 0 !important;
    }
    &:last-child {
      padding-right: 0 !important;
    }

    @media screen and (max-width: $layout-breakpoint-md) {
      &:nth-child(1) {
        padding: 0 8px 8px 0 !important;
      }

      &:nth-child(2) {
        padding: 0 0 8px 8px !important;
      }

      &:nth-child(3) {
        padding: 8px 8px 8px 0 !important;
      }

      &:nth-child(4) {
        padding: 8px 0 8px 8px !important;
      }
    }

    @media screen and (max-width: $layout-breakpoint-xs) {
      &:nth-child(1) {
        padding: 0 0 8px 0 !important;
      }

      &:nth-child(2) {
        padding: 8px 0 !important;
      }

      &:nth-child(3) {
        padding: 8px 0 !important;
      }

      &:nth-child(4) {
        padding: 8px 0 8px 0 !important;
      }
    }
  }
}
