<div class="row review">
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="pull-left">
          <span ng-if="!course">{{ !author.remain_anonymous ? author.name : 'Anonymous' }}</span>
          <span ng-if="course">{{ course.name }}</span>
          <span class="text-muted" ng-if="showTime">{{ review.updated || review.created | datetime }}</span>
        </div>
        <div class="pull-right" ng-if="review.author === authData.uid" ng-if="!editing">
          <span class="glyphicon glyphicon-pencil" ng-click="edit(review)"></span>
          <span class="glyphicon glyphicon-trash" ng-click="remove(review)"></span>
        </div>
        <div class="clearfix"></div>
      </div>
      
      <div class="panel-body">
        <div ng-if="!editing">
          <p style="white-space:pre-wrap;">{{ review.comments }}</p>
        </div>
        <review-form ng-if="editing"></review-form>
      </div>

      <div class="panel-footer" ng-if="!editing">
        <div class="pull-left">
          <span class="text-muted">{{ review.difficulty | difficulty }}
            <span ng-if="review.workload > 0"> ({{ review.workload + ' ' + (review.workload > 1 ? 'hours/week' : 'hour/week') }})</span>
          </span>
        </div>
        <div class="pull-right">
          <span class="text-muted">{{ review.semester | semester }}</span>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>

</div>