<form novalidate class="form-horizontal">

  <div class="form-group" ng-if="showCourse">
    <label class="col-sm-2">Course*</label>
    <div class="col-sm-10 btn-group dropdown" uib-dropdown>
      <button id="course" type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
        {{ review.course | course:'Select' }}&nbsp;&nbsp;<span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu dropdown-menu" role="menu" aria-labelledby="course">
        <li role="menuitem" ng-repeat="course in courses" ng-click="selectCourse(course)">
          <a href="">{{ course | course }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group" ng-if="showSemester">
    <label class="col-sm-2">Semester*</label>
    <div class="col-sm-10 btn-group dropdown" uib-dropdown>
      <button id="semester" type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
        {{ review.semester | semester:'Select' }}&nbsp;&nbsp;<span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu dropdown-menu" role="menu" aria-labelledby="semester">
        <li role="menuitem" ng-repeat="semester in semesters" ng-click="selectSemester(semester)">
          <a href="">{{ semester | semester }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Difficulty*</label>
    <div class="col-sm-10 btn-group btn-group-sm btn-group-difficulty" role="group" aria-label="Difficulty">
      <button type="button" class="btn btn-default" ng-model="review.difficulty" uib-btn-radio="1">{{ ::1 | difficulty }}</button>
      <button type="button" class="btn btn-default" ng-model="review.difficulty" uib-btn-radio="2">{{ ::2 | difficulty }}</button>
      <button type="button" class="btn btn-default" ng-model="review.difficulty" uib-btn-radio="3">{{ ::3 | difficulty }}</button>
      <button type="button" class="btn btn-default" ng-model="review.difficulty" uib-btn-radio="4">{{ ::4 | difficulty }}</button>
      <button type="button" class="btn btn-default" ng-model="review.difficulty" uib-btn-radio="5">{{ ::5 | difficulty }}</button>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Workload*</label>
    <div class="col-sm-10">
      <input class="form-control input-sm" type="number" min="1" name="workload" ng-model="review.workload" style="width:70px;display:inline;"></input>
      &nbsp;&nbsp;hours/week
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Comments*</label>
    <div class="col-sm-10">
      <textarea class="form-control input-sm" rows="5" ng-model="review.comments" ng-trim="true"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default btn-sm" ng-click="save(review)">{{ ::submitCaption || 'Save' }}</button>
      <button type="submit" class="btn btn-default btn-sm" ng-click="cancel()" ng-if="showCancel">Cancel</button>
      <span class="pull-right text-muted">{{ review.comments.length || 0 }} char.</span>
      <span class="clearfix"></span>
    </div>
  </div>

  <div class="form-group" ng-if="showHints">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="alert alert-warning" role="alert">
        To remain anonymous, check the <strong>Remain Anonymous</strong> checkbox in <a href="/#/account">your account</a>.
      </div>
    </div>
  </div>

</form>