<div class="page-layout simple fullwidth doc-page element-doc-page">
  <div class="content">
    <div class="white-bg md-whiteframe-4dp">
      <table class="simple clickable gt-reviews" ms-responsive-table>
        <thead>
          <tr>
            <th ng-repeat="header in ::vm.headers track by header.key" ng-class="header.classes" ng-click="vm.sortOn(header)">
              <span>{{::header.title}}</span>
              <md-icon ng-show="vm.sortingOn(header) && vm.sortReverse === true" class="s16 mb-4" md-font-icon="icon-chevron-down"></md-icon>
              <md-icon ng-show="vm.sortingOn(header) && vm.sortReverse !== true" class="s16 mb-4" md-font-icon="icon-chevron-up"></md-icon>
            </th>
          </tr>
        </thead>

        <tfoot><tr><td></td></tr></tfoot>

        <tbody>
          <tr ng-repeat="course in vm.courses | orderBy:vm.sortKey:vm.sortReverse track by course._id"
              ng-click="vm.goTo(course)">
            <td>
              {{::course.department}}
            </td>

            <td>
              {{::course.number}}<span ng-if="::course.section">-{{::course.section}}</span>
            </td>

            <td class="text-truncate">
              <span>{{::course.name}}</span>
              <md-icon md-font-icon="icon-flag-variant" class="s16 mb-4" ng-if="::course.foundational">
                <md-tooltip md-direction="right">Foundational</md-tooltip>
              </md-icon>
              <md-icon md-font-icon="icon-food-apple" class="s16 mb-4" ng-if="::course.core">
                <md-tooltip md-direction="right">Core</md-tooltip>
              </md-icon>
              <md-icon md-font-icon="icon-android-studio" class="s16 mb-4" ng-if="::course.elective">
                <md-tooltip md-direction="right">Elective</md-tooltip>
              </md-icon>
            </td>

            <td class="text-center">
              <span ng-if="::course.reviews > 0">{{::course.reviews | number:0}}</span>
            </td>

            <td class="text-center">
              <span ng-if="::course.workload > 0">{{::course.workload | number:1}}</span>
            </td>

            <td class="text-center">
              <gt-progress-bar value="course.difficulty" max="5"></gt-progress-bar>
            </td>

            <td class="text-center">
              <gt-progress-bar value="course.rating" max="5"></gt-progress-bar>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

