.bucket {
  display: table;
}

.bucket-media {
  float: left;
  margin-right: 1.25em;
}

.bucket-media > img {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  padding: 0.3125em;
}

.bucket-content {
  display: table-cell;
  width: 10000px;
  vertical-align: middle;
  font-size: 12px;
}

.bucket-content > p {
  margin-bottom: 0.625em;
}