
.form {
  padding: 0;
  background-color: #fff;
  max-width: 450px;
  margin: 0 auto;
}

.form-header {
  margin: 0;
  position: relative;
  padding: 10px 17px;
  text-align: center;
  font-size: 16px;
  background-color: #829aa8;
  border: 1px solid #768995;
  color: #fff;
  border-radius: 4px 4px 0 0;
}

.form-header > h1 {
  margin: 0;
  font-size: 16px;
  line-height: 1.1;
  text-align: left;
}

.form-body {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #d8dee2;
  border-radius: 0 0 4px 4px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.btn-group-difficulty > .btn {
  min-width: 90px;
}
