
body {
  font-family: 'Arvo', sans-serif;
  visibility: visible;
  height: 100%;
  margin: 0;
  padding: 0 0 10px 0;
}

textarea {
  resize: none;
}

img[alt=Gravatar] {
  border-radius: 4px;
}

.glyphicon:hover {
  cursor: pointer;
  color: #555;
}

.page-header {
  margin-top: 0;
  padding-bottom: 6px;
}

.page-header > h1 {
  margin: 0;
  font-size: 18px;
}

.page-header img {
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.navbar-brand img {
  position: relative;
  top: -2px;
}

p:last-child {
  margin-bottom: 0;
}

.progress {
  margin-bottom: 0;
}
