.review .panel .glyphicon {
  font-size: 14px;
}

.review .panel-heading a {
  color: #333;
}

.review .col-md-1 {
  padding-right: 0;
  padding-left: 5px;
}

@media(min-width: 992px) {
  .review .col-md-11 {
    padding-left: 0;
  }
}

@media(max-width: 992px) {
  .review .text-muted {
    font-size: 80%;
  }
}

.review-votes {
  font-size: 125%;
}

.review-votes-count {
  margin-top: -5px;
}