<div class="template-8">
  <div class="media">
    <img class="image" ng-src="{{card.media.image.src}}" alt="{{card.media.image.alt}}" ng-show="card.media.image">
  </div>

  <div class="content pv-24 ph-16">
    <div class="title h1" ng-if="card.title">
      {{card.title}}
    </div>

    <div class="subtitle secondary-text" ng-if="card.subtitle">
      {{card.subtitle}}
    </div>

    <div class="buttons pt-16">
      <md-button class="m-0">{{card.button1}}</md-button>
      <md-button class="m-0 md-accent">{{card.button2}}</md-button>
    </div>

    <div class="text pt-16" ng-if="card.text">
      {{card.text}}
    </div>
  </div>
</div>
