<!DOCTYPE html>
<html lang="en" ng-app="surveyor">
  <head>
    <title>Georgia Tech Course Surveys</title>
    <meta charset="utf-8" />
    <meta name="description" content="An app that lets students assess course difficulty and workload." />
    <meta name="author" content="Mehmet Bajin" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="http://askbuzz.gatech.edu/GeorgiaTech.png" />
    <meta property="og:title" content="Georgia Tech Course Surveys" />
    <meta property="og:description" content="An app that lets students assess course difficulty and workload." />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="/favicon.ico?v=2.00" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo" />
    <link rel="stylesheet" href="dist/css/main.css" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top text-center">
      <div class="container">
        <div class="navbar-header hidden-xs">
          <div class="navbar-brand">
            <a href="/#/"><img alt="Home" width="22" height="22" src="assets/images/logo.png"></img></a>
          </div>
        </div>
        <nav-bar-body></nav-bar-body>
      </div>
    </nav>
    <div ng-view class="container"></div>
  </body>
  <script src="https://apis.google.com/js/platform.js"></script>
  <script src="dist/js/main.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-69766468-1', 'auto');
    ga('send', 'pageview');
    window.___gcfg = { lang: 'en-US', parsetags: 'explicit' };
  </script>
</html>