<div class="template-2">
  <div class="header p-16" layout="row" layout-align="start center">
    <div ng-if="card.avatar">
      <img class="avatar mr-16" ng-src="{{card.avatar.src}}" alt="{{card.avatar.alt}}">
    </div>

    <div class="info">
      <div class="title" ng-if="card.title">
        {{card.title}}
      </div>

      <div class="subtitle secondary-text" ng-if="card.subtitle">
        {{card.subtitle}}
      </div>
    </div>
  </div>

  <div class="media">
    <img class="image" ng-src="{{card.media.image.src}}" alt="{{card.media.image.alt}}" ng-show="card.media.image">
  </div>

  <div class="text p-16" ng-if="card.text">
    {{card.text}}
  </div>
</div>
