<form class="form" name="account" novalidate>

  <div class="form-group bucket">
    <div class="bucket-media">
      <img alt="Gravatar" gravatar-src="user.email" height="100" width="100" gravatar-size="150"></img>
    </div>
    <div class="bucket-content">
      <p>Avatar managed by Gravatar</p>
      <a href="https://www.gravatar.com" target="_blank">Change Image</a>
    </div>
  </div>

  <hr class="clearfix"></hr>

  <div class="form-group">
    <label>Email</label>
    <input type="email" ng-model="user.email" name="email" class="form-control" readonly></input>
  </div>

  <div class="form-group">
    <label>Name</label>
    <input ng-model="user.name" ng-model-options="{ debounce: 250 }" type="text" name="name" class="form-control"></input>
  </div>
  
  <div class="form-group">
    <label>Specialization</label>
    <div class="dropdown" uib-dropdown>
      <button id="specialization" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
        {{ user.specialization || 'Select' }} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu dropdown-menu" role="menu" aria-labelledby="specialization">
        <li role="menuitem" ng-repeat="specialization in specializations" ng-click="user.specialization = specialization">
          <a href="">{{ specialization }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="user.remain_anonymous"></input>
      Remain Anonymous
      <span class="glyphicon glyphicon-info-sign"
        uib-popover="If this is checked, your name appears as Anonymous."
        popover-trigger="mouseenter"></span>
    </label>
  </div>

  <hr ng-if="authData.provider === 'password'"></hr>

  <div ng-if="authData.provider === 'password'">
    <div class="form-group">
      <label>New Password</label>
      <input ng-model="newPassword" type="password" name="new-password" class="form-control"></input>
    </div>

    <div class="form-group">
      <label>New Password Confirmation</label>
      <input ng-model="newPasswordConfirmation" type="password" name="new-password-confirmation" class="form-control"></input>
    </div>

    <div class="form-group">
      <label>Current Password</label>
      <input ng-model="oldPassword" type="password" name="old-password" class="form-control"></input>
    </div>

    <div class="form-group">
      <button ng-click="changePassword(user.email, newPassword, newPasswordConfirmation, oldPassword)" type="submit" class="btn btn-primary" ng-class="{ 'disabled':working }" style="margin-bottom:20px;">
        {{ !working ? 'Change Password' : 'Changing...' }}
      </button>
    </div>
  </div>

</form>