<page-title title="Frequently Asked Questions"></page-title>

<div class="panel panel-default">
  <div class="panel-heading">
    What is this app?
  </div>
  <div class="panel-body">
    <p>This app was created for OMSCS students to get a feel for course difficulty and workload.</p>
    <p>It is not endorsed or sponsored in any way by the official OMSCS program or staff.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Does this sync with the old Google Doc?
  </div>
  <div class="panel-body">
    <p>No. There was a one-time import of all data in the Google Doc on November 5, 2015.</p>
    <p>While the Google Doc is still accessible, its use is discouraged, because it lacks validation and other useful features.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Do I have to sign in to publish reviews?
  </div>
  <div class="panel-body">
    <p>Yes. You can authenticate with a <strong>gatech.edu</strong> email or with Google.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Found an issue?
  </div>
  <div class="panel-body">
    <p>
      Please submit on <a href="https://github.com/mehmetbajin/gt-course-surveys/issues" target="_blank">GitHub.</a>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Have a question not answered here?
  </div>
  <div class="panel-body">
    <p>
      Contact <a href="mailto:bajin.mehmet@gmail.com?subject=Georgia Tech Course Surveys" target="_blank">Mehmet Bajin</a>.
    </p>
  </div>
</div>