<div ng-hide="authData" class="alert alert-warning" role="alert">
  <a href="/#/sign-in">Sign in</a> to publish and rate reviews.
</div>

<div class="panel panel-default">
  <table class="table table-hover table-striped table-condensed" ng-hide="watermark">
    <thead>
      <tr>
        <th class="col-1">Department</th>
        <th class="col-1">Number</th>
        <th class="col-4">Name</th>
        <th class="col-1 text-center"># Reviews</th>
        <th class="col-1 text-center"><span uib-tooltip="1 (easiest) to 5 (hardest)" tooltip-placement="bottom">Avg. Diff.</span></th>
        <th class="col-1 text-right"><span uib-tooltip="hours / week" tooltip-placement="bottom">Avg. Work.</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in courses | orderBy:[ '+number', '+section', '+name' ]" ng-click="select(course)">
        <td class="col-1">{{ course.department }}</td>
        <td class="col-1">{{ course.number + (course.section ? '-' + course.section : '') }}</td>
        <td class="col-4">{{ course.name }}</td>
        <td class="col-1 text-center">{{ course.metrics.reviewCount | number:0 }}</td>
        <td class="col-1 text-center">
          <uib-progressbar ng-if="course.metrics.averageDifficulty"
            value="course.metrics.averageDifficulty" max="5">{{ course.metrics.averageDifficulty | number:1 }}</uib-progressbar>
        </td>
        <td class="col-1 text-right">{{ course.metrics.averageWorkload | number:1 }}</td>
      </tr>
    </tbody>
  </table>
</div>