<div ng-hide="authData" class="alert alert-warning" role="alert">
  <a href="/#/sign-in">Sign in</a> to publish and rate reviews.
</div>

<div class="panel panel-default">
  <table class="table table-hover table-striped table-condensed" ng-hide="watermark">
    <thead>
      <tr>
        <th class="col-1" ng-click="sortType = 'department'; sortReverse = !sortReverse">
          Department <span ng-show="sortType === 'department'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-1" ng-click="sortType = 'number'; sortReverse = !sortReverse">
          Number     <span ng-show="sortType === 'number'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-4" ng-click="sortType = 'name'; sortReverse = !sortReverse">
          Name       <span ng-show="sortType === 'name'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-1 text-center" ng-click="sortType = 'reviewCount'; sortReverse = !sortReverse">
          # Reviews  <span ng-show="sortType === 'reviewCount'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-1 text-center" ng-click="sortType = 'averageDifficulty'; sortReverse = !sortReverse">
          Avg. Diff. <span ng-show="sortType === 'averageDifficulty'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-1 text-right"  ng-click="sortType = 'averageWorkload'; sortReverse = !sortReverse">
          Avg. Work. <span ng-show="sortType === 'averageWorkload'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in courses | orderBy:sortType:sortReverse" ng-click="select(course)">
        <td class="col-1">
          {{ course.department }}
        </td>
        <td class="col-1">
          {{ course.number + (course.section ? '-' + course.section : '') }}
        </td>
        <td class="col-4">
          {{ course.name }}
        </td>
        <td class="col-1 text-center">
          {{ course.reviewCount | number:0 }}
        </td>
        <td class="col-1 text-center">
          <uib-progressbar ng-if="course.averageDifficulty" value="course.averageDifficulty" max="5">{{ course.averageDifficulty | number:1 }}</uib-progressbar>
        </td>
        <td class="col-1 text-right">
          {{ course.averageWorkload | number:1 }}
        </td>
      </tr>
    </tbody>
  </table>
</div>