<form class="form" novalidate>
  
  <div class="form-header">
    <h1>Recover Password</h1>
  </div>

  <div class="form-body">

    <div class="form-group">
      <label>Email</label>
      <input ng-model="user.email" type="email" name="email" class="form-control" required></input>
    </div>

    <div class="form-group">
      <button ng-click="sendPassword(user)" type="submit" class="btn btn-default" ng-class="{ 'disabled':working }">
        {{ !working ? 'Send Password' : 'Sending...' }}
      </button>
    </div>

    <p>Trying to <a href="/#/sign-in">sign in</a>?</p>
    <p>Don't have an account? <a href="/#/sign-up">Create a free account</a>.</p>

  </div>

</form>