<div ng-if="!authData" class="alert alert-warning nga-default nga-stagger nga-fade" role="alert">
  <a href="/#/sign-in">Sign in</a> to publish reviews.
</div>

<div class="panel panel-default">
  <div class="panel-body" ng-if="loading">
    Loading...
  </div>
  <table class="table table-hover table-striped table-condensed nga-default nga-stagger nga-fade" ng-if="!loading">
    <thead>
      <tr>
        <th class="col-1 hidden-xs" ng-click="toggleSort('department')">
          Department
          <span ng-if="sortType === 'department'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-1" ng-click="toggleSort('number')">
          Number
          <span ng-if="sortType === 'number'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-5" ng-click="toggleSort('name')">
          Name
          <span ng-if="sortType === 'name'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-1 text-center hidden-xs" ng-click="toggleSort('reviewCount')">
          # Reviews
          <span ng-if="sortType === 'reviewCount'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-1 text-center" ng-click="toggleSort('averageDifficulty')">
          Avg. Diff.
          <span ng-if="sortType === 'averageDifficulty'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
        <th class="col-1 text-center"  ng-click="toggleSort('averageWorkload')">
          Avg. Work.
          <span ng-if="sortType === 'averageWorkload'" class="glyphicon glyphicon-triangle-{{ sortReverse ? 'bottom' : 'top' }}"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in courses | orderBy:sortType:sortReverse" ng-click="select(course)">
        <td class="col-1 hidden-xs">
          {{ ::course.department }}
        </td>
        <td class="col-1">
          {{ ::course.formattedNumber }}
        </td>
        <td class="col-5">
          {{ ::course.name }}
          <span ng-if="::course.foundational" class="glyphicon glyphicon-flag" uib-tooltip="Foundational" tooltip-placement="right"></span>
        </td>
        <td class="col-1 text-center hidden-xs">
          {{ ::course.reviewCount }}
        </td>
        <td class="col-1 text-center">
          <uib-progressbar value="::course.averageDifficulty" max="5">{{ course.averageDifficulty > 0 ? course.averageDifficulty : null }}</uib-progressbar>
        </td>
        <td class="col-1 text-center">
          <span ng-if="::course.averageWorkload">{{ ::course.averageWorkload }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="google-plus-home">
  <g:plus action="share" annotation="bubble" href="https://gt-course-surveys.herokuapp.com"></g:plus>
</div>