<div class="page-layout simple fullwidth doc-page element-doc-page">

  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <div class="full-width" layout="column" layout-align="center start">
      <div class="breadcrumb" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-home" class="s16"></md-icon>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">Reviews</span>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">Course Reviews</span>
      </div>
      <div class="title full-width text-truncate">{{vm.course.title}}</div>
    </div>
  </div>

  <div class="content">
    <gt-aggregation-card-list aggregation="vm.aggregation"></gt-aggregation-card-list>
    <gt-review-card-list reviews="vm.reviews" show-course-title="false" read-only="vm.working" on-ready="vm.scroll()"></gt-review-card-list>
  </div>

  <md-button class="md-fab md-primary md-fab-top-right mr-80"
             aria-label="FILTER REVIEWS"
             ng-click="vm.filter($event)"
             md-no-ink>
    <md-icon md-font-icon="icon-filter-variant"></md-icon>
    <md-tooltip>Filter</md-tooltip>
  </md-button>

  <md-button class="md-fab md-primary md-fab-top-right"
             aria-label="PUBLISH REVIEW"
             ng-click="vm.publish($event)"
             md-no-ink>
    <md-icon md-font-icon="icon-pencil"></md-icon>
    <md-tooltip>Publish</md-tooltip>
  </md-button>

</div>

